h1 {
  color: black;
  text-align: center;

  margin-bottom: 20px;
}

body {
  margin: auto;
}

#buttons {
  border: 1px solid red;
  margin: auto;
  justify-content: center;

  width: 400px;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.button {
  flex: 1 0 45%;
 
}
